/*
--var_green: #5ac85a;
  --var_yellow: #e2cc68;
  --var_grey: #a1a1a1;
*/
:root {
  --font-family: verdana;
  --var_green: #5ac85a;
  --var_yellow: #e2cc68;
  --var_grey: #919191;

  --var_light: #ffffff;
  --var_medium: rgb(143, 143, 143);
  --var_dark: rgb(0, 14, 44);
  --var_dark2: rgb(28, 0, 41);
  --var_darker: rgb(0, 15, 28);
}
body {
  text-align: center;
  font-size: 1em;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--var_dark);
}
h1 {
  font-size: 2em;
  font-family: var(--font-family);
  padding: 20px 0;
  margin: 0 0 20px 0;
  color: var(--var_light);
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}
.row > div {
  display: block;
  width: 60px;
  height: 60px;

  margin: 5px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
  font-family: var(--font-family);
  background: var(--var_light);
  color: black;
}
.row > div.green {
  --background: var(--var_green);
  animation: flip 0.5s ease forwards;
}
.row > div.grey {
  --background: var(--var_grey);
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: var(--var_yellow);
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}
.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
  position: absolute;
  left: 0;
  animation: move_left_to_right 0.5s ease-in-out forwards;
}
.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background: var(--var_light);
  color: var(--var_darker);
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  user-select: none;
  transition: transform 0.2s ease;
}
.keypad > div.green {
  background: var(--var_green);
  color: white;
}
.keypad > div.yellow {
  background: var(--var_yellow);
  color: white;
}
.keypad > div.grey {
  background: var(--var_grey);
  color: white;
}

/* .keypad > div.green.bounce,
.keypad > div.yellow.bounce,
.keypad > div.grey.bounce {
  animation: bounce 0.2s ease-in-out forwards;
} */

.keypad > div.delete.click,
.keypad > div.enter.click,
.keypad > div.green.click,
.keypad > div.yellow.click,
.keypad > div.grey.click,
.keypad > div.empty.click {
  transform: scale(var(--scale));
  animation: click 0.2s ease-in-out forwards;
}

.keypad > div.enter {
  width: 90px;
}
.keypad > div.delete {
  width: 90px;
}

.keypad > div.enter:hover,
.keypad > div.delete:hover {
  --scale: 1.1;
  transform: scale(1.1);
}
.keypad > div.green:hover,
.keypad > div.yellow:hover,
.keypad > div.grey:hover,
.keypad > div.empty:hover {
  --scale: 1.2;
  transform: scale(1.2);
}

.keypad > div.green.bounce,
.keypad > div.yellow.bounce,
.keypad > div.grey.bounce {
  animation: bounce 0.3s ease-in-out forwards;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal_div {
  max-width: 400px;
  background: var(--var_light);
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 10px 10px 5px 5px rgba(0, 1, 17, 0.3);
  font-size: 1.2em;
  font-family: var(--font-family);
}
.modal .solution {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  font-family: var(--font-family);
  color: #a03737;
}

#top-left {
  border-radius: 5px 0 0 0; /* Top-left corner rounded */
}
#top-right {
  border-radius: 0 5px 0 0;
}
#bot-left {
  border-radius: 0 0 0 5px;
}
#bot-right {
  border-radius: 0 0 5px 0;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: var(--var_light);
    color: black;
  }
  45% {
    transform: rotateX(90deg);
    background: var(--var_light);
    color: black;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    color: white;
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    color: white;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes click {
  0% {
    transform: scale(var(--scale));
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(var(--scale));
  }
}

@keyframes move_left_to_right {
  0% {
    left: calc(49% - 250px);
    opacity: 0;
  }
  100% {
    left: calc(50% - 250px);
    opacity: 1;
  }
}

#replay_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--var_light);
  border-color: var(--var_medium);
  color: var(--var_dark);
  cursor: pointer;
  font-family: var(--font-family);
  letter-spacing: 1px;
}
